
.ml-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.ml-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
  flex: 1;
  max-width: 1280px;
}

.ml-flex-row {
  display: flex;
  flex: 1;
}