.ml-container form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.ml-container .ml-form-row {
  flex: 1;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.ml-container .ml-form-row .ml-label {
  flex: 1;
  line-height: 3rem;
}

.ml-container .ml-button {
  margin-left: 15px;
}

.ml-container .ml-form-buttons {
  display: flex;
  justify-content: flex-end;
}