.mh-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.mh-container input {
  height: 3rem;
  min-width: 300px;
  margin-bottom: 1.25rem;
  padding: 0 1.25rem;
  border-radius: 0.5rem;
}
